@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-height: 600px;
  background-color: #25274d;
  gap: 20px;
}
nav {
  background-color: #454886;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: sticky;
  z-index: 999;
}
nav ul {
  display: flex;
  gap: 45px;
}
nav ul li {
  list-style: none;
  position: relative;
  right: 40px;
}
nav ul li a {
  transition: 0.3s;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

nav ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-bottom: 2px solid white;
  transition: 0.2s linear;
}
nav ul li a:hover:before {
  width: 100%;
  font-size: 18px;
}
nav ul li a:hover {
  color: rgb(185, 180, 180);
}
nav ul li i {
  font-size: 20px;
}
.sidebar {
  transition: 0.5s;
  position: fixed;
  top: 0;
  right: -700px;
  height: 100vh;
  width: 250px;
  background-color: rgb(19, 126, 126);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: start;
  align-items: start;
  animation: 0.3s slide;
  display: none;
}
@keyframes slide {
  0% {
    right: -100px;
  }
  100% {
    right: 0;
  }
}
.fa-bars {
  display: none;
}

.sidebar i {
  font-size: 25px;
}
.sidebar li {
  left: 6px;
  top: 20px;
}
@media screen and (max-width: 800px) {
  .hideonphone {
    display: none;
  }
  .fa-bars {
    display: block;
  }
}

.logo {
  font-size: 37px;
  color: white;
  padding-left: 35px;
}
.mainimg {
  height: 450px;
  width: 450px;
}
.mainimg img {
  margin: auto;
  height: 450px;
  width: 100%;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-bottom: 90px; */
}
.intro > span:nth-child(1) {
  color: white;
  font-size: 25px;
  font-weight: 500;
}
.intro > span:nth-child(2) {
  color: #2e9cca;
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 2px;
}
.intro > span:nth-child(3) {
  color: white;
  font-size: 25px;
  font-weight: 500;
}
#element {
  color: #2e9cca;
  font-size: 25px;
  font-weight: 500;
}
.cv button {
  transition: 0.2s;
  padding: 4px 10px;
  font-size: 14px;
  margin: 10px 0px;
  font-weight: 500;
  color: white;
  background-color: #2e9cca;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}
.cv button:hover {
  background-color: #20769b;
}

section {
  max-width: 100%;
  padding: 20px;
  min-height: 600px;
  background-color: #25274d;
  border-top: 1px solid grey;
}
.heading {
  color: white;
  font-size: 48px;
}
.about {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding-bottom: 290px;
}
#sec1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
#sec1 .about p {
  color: white;
  font-size: 15px;
}
.secimg1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.secimg1 img {
  height: 80vh;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 30px white;
}
.skill {
  padding: 100px 0 40px 20px;
  letter-spacing: 3px;
}
.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}
.skills div {
  color: white;
  padding: 40px;
  background-color: #396e91;
  border-radius: 11px;
  font-weight: 300px;
  transition: background 0.5s, transform 0.5s;
}
.skills div h2 {
  color: #25274d;
}
.skills div i {
  font-size: 50px;
  margin-bottom: 20px;
}
.skills div a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  margin-top: 15px;
  display: inline-block;
}
.skills div:hover {
  background: #aaabb8;
  transform: translateY(-10px);
  position: inherit;
}
#sec3 {
  padding: 2rem;
}
.project-front img {
  border-radius: 12px;
  width: 100%;
  height: 19rem;
}
.projects {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project {
  margin: 0px 20px;
  width: 100%;
  height: 19rem;
  margin: auto;
}
.project-back {
  padding-left: 7px;
  background-color: black;
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
}
.project-inner {
  position: relative;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.project-front,
.project-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.project-back .back-footer {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  gap: 10px;
}
.back-footer button {
  cursor: pointer;
  transition: 0.4s;
  padding: 7px 10px;
  border-radius: 30px;
  background-color: black;
  border: 1px solid grey;
  color: white;
}
.back-footer button:hover {
  color: black;
  background-color: white;
}
.project:hover .project-inner {
  transform: rotateY(180deg);
}
@media screen and (max-width: 822px) {
  .intro {
    padding-top: 60px;
  }
}
@media screen and (max-width: 1302px) {
  .about {
    display: flex;
    align-items: center;
    padding-bottom: 0;
  }

  .secimg1 img {
    height: 50vh;
  }
}
.contact {
  width: 100%;
}
#sec4 {
  overflow-x: hidden;
}
form {
  width: 70%;
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 5px;
}
form label {
  width: 50%;
  padding: 10px;
  background-color: rgb(56, 54, 54);
  box-shadow: 0px 0px 7px rgb(29, 29, 29);
}

form label input {
  background: transparent;
  border: none;
  font-size: 20px;
  color: white;
  outline: none;
  caret-color: red;
}
form button {
  transition: 0.3s;
  padding: 2px 12px;
  border-radius: 20px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: white;
  background-color: #2e9cca;
}
form button:hover {
  background-color: #20769b;
}

.social-media {
  display: flex;
  gap: 10px;
  width: 100%;
}
.social-media i {
  padding: 10px;
  background-color: black;
  border-radius: 30px;
  margin-top: 20px;
  color: white;
  font-size: 24px;
  cursor: pointer;
  transition: 0.4s;
}
.social-media i:hover {
  transform: translateY(-10px);
  background-color: white;
  color: black;
}
footer {
  background-color: #000000;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13px;
  font-weight: 200;
}
.follow h2 {
  color: white;
  font-weight: 500;
}
.follow {
  margin: 40px 0;
}
@media screen and (max-width: 500px) {
  form label {
    width: 90%;
  }
}
